.hero
  &.has-background
    position: relative
    overflow: hidden
  &-background
    position: absolute
    object-fit: cover
    object-position: center center
    width: 100%
    height: 100%
    &.is-transparent
      opacity: 0.3
      /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  body {
    background-image: url("./images/ship.jpg");
  }
  #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;      
      
}
  /* Footer height */


/* This is a trial footer*/

#footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
<!-- Including one css file into other -->
@import "style2.css"; 
   
 h1 { 
     color:green;    
 } 
   
.css1 { 
     color:black; 
     background-image: linear-gradient(to right, #DFF1DF, #11A00C); 
     position:static;    
 } 
 @import "bulma/sass/utilities/_all.sass"
 
 .topcorner{
    position:absolute;
    top:10px;
    right: 10px;
 }